<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduLearn Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 font-sans antialiased">
    <!-- Main Container -->
    <div class="min-h-screen flex flex-col">

        <!-- Header -->
        <header class="bg-blue-600 text-white py-4 px-6 flex justify-between items-center shadow-md">
            <h1 class="text-3xl font-bold">Edu<span class="text-red-500">Dashboard</span></h1>
            <div>
                <span th:text="${ user.username }" class="text-lg font-medium"></span>
                <a th:href="@{/logout}" class="ml-4 bg-red-500 px-3 py-1 rounded-md hover:bg-red-700">Log out</a>
            </div>
        </header>

        <!-- Main Content -->
        <div class="flex flex-grow">
            <!-- Sidebar -->
            <aside class="w-1/4 bg-white shadow-md p-4">
                <nav>
                    <ul class="space-y-4">
                        <li class="text-lg font-semibold">
                            <a th:href="@{/}" class="hover:text-blue-600">Dashboard</a>
                        </li>
                        <li>
                            <a th:href="@{/courses/list}" class="hover:text-blue-600">Courses</a>
                        </li>
                        <li>
                            <a href="@{/}" class="hover:text-blue-600">About</a>
                        </li>
						<li>
                            <a href="@{/}" class="hover:text-blue-600">Register registration</a>
                        </li>
                    </ul>
                </nav>
            </aside>

            <!-- Dashboard Content -->
            <main class="flex-grow p-6 space-y-6">


                <!-- Courses -->
                <section class="bg-white rounded-lg shadow p-4">
                    <h2 class="text-xl font-semibold mb-4">Assigned Courses</h2>
                    <ul class="space-y-4">
                        <li th:each="course : ${ user.enrolledCourses}">
                            <div class="flex justify-between items-center">
                                <span class="font-medium" th:text="${course.courseName}"></span>
                                <span class="text-sm text-gray-500">
									<a th:href="@{/assignments/list/{id}(id=${course.id})}" class="">View ></a>
								</span>
                            </div>
                            <div class="text-sm text-gray-600">
								<p th:text="${course.assignmentEntity.size() + ' assignments available'}"></p>
							</div>
                        </li>
                    </ul>
                </section>
            </main>
        </div>
    </div>
</body>

</html>