<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Teacher Login</title>
	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <form method="post" action="#" th:action="@{/registerTeacher}" th:object="${user}">
		
		<input type="hidden" th:field="*{id}">
		<input type="text" name="username" placeholder="Username" th:field="*{username}"/>
		</br>
		<input type="password" name="password" placeholder="Password" th:field="*{password}"/>
		</br>
		<input type="text" name="firstName" placeholder="First name" th:field="*{firstName}"/>
		</br>
		<input type="text" name="lastName" placeholder="Last name" th:field="*{lastName}" />
		</br>
		<input type="email" name="email" placeholder="Email" th:field="*{email}"/>
		</br>
		<input type="date" name="dateOfBirth" placeholder="Date of birth" th:field="*{dateOfBirth}" />
		</br>
		<input type="submit"  class="btn btn-info col-2" value="Submit" />
	</form>

</body>

</html>