<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Assignment Details</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;">
    <div style="width: 80%; margin: 20px auto; background: #fff; padding: 20px; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
        <h1 style="text-align: center; color: #333;">Assignment Details</h1>

        <!-- Assignment Details -->
        <div style="margin-bottom: 20px;">
            <h2 style="color: #007BFF; margin: 10px 0;" th:text="${getAssignmentDetails.assignmentName}">Assignment Name</h2>
            <p style="color: #555; font-size: 1rem; line-height: 1.6;" th:text="${getAssignmentDetails.assignmentDescription}">
                Assignment Description
            </p>
			<h2 style="color: rgb(255, 0, 0); margin: 10px 0;" th:text="${getAssignmentDetails.deadLine.get(0).dueDate}">Assignment Deadline</h2>

        </div>

        <!-- Question File Download -->
        <div style="margin-bottom: 20px;">
            <h3 style="color: #333; margin-bottom: 10px;">Question File:</h3>
            <a th:href="@{'/assignments/download-question-file/' + ${getAssignmentDetails.id}}"
               style="color: #007BFF; text-decoration: none; font-size: 1rem;">Download File</a><br />
        
        <!-- Submit Solution Form -->
       
		<div th:if="${existingSubmission} == null">
			<div class="form-container">
					    <h3>Submit Your Solution:</h3>
					    <form th:action="@{'/assignments/submit-assignment'}" 
						th:object="${submission}" method="post" enctype="multipart/form-data">
						<input type="hidden" th:field="${submission.assignmentEntity.id}" name="assignment.id">
					        <div>
					            <label for="solutionFile">Upload Solution File:</label>
					            <input th:field="${submission.submissionAnsFile}" type="file" id="solutionFile" name="solutionFile" required />
					        </div>
					        <div style="text-align: center; margin-top: 10px;" >
					            <button type="submit">Submit</button>
					        </div>
					    </form>
					</div>
		</div> 
		
		<div th:if="${existingSubmission} != null">
			<a th:href="@{'/assignments/submissions/file/' + ${existingSubmission.id}}">Your submission :)</a>
		</div>
        <!-- Back to List Link -->
        <a th:href="@{'/assignments/list/' + ${getAssignmentDetails.courseEntity.id}}" 
           style="display: inline-block; margin-top: 20px; color: #007BFF; text-decoration: none;">Back to Assignment List</a>
    </div>
</body>
</html>
